{% extends 'base.html' %}
{% block conteudo %}
<h2>Lista de Alunos</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Visualizações</th>
    </tr>
  </thead>
  <tbody>
    {% for aluno in alunos %}
      <tr>
        <td>{{ aluno.id }}</td>
        <td>{{ aluno.title }}</td>
        <td>{{ aluno.views }}</td>
        <td>
  <a href="{{ url_for('editar_aluno', id=aluno.id) }}" class="btn btn-sm btn-warning">Editar</a>
  <form action="{{ url_for('deletar_aluno', id=aluno.id) }}" method="POST" style="display:inline;">
    <button class="btn btn-sm btn-danger" onclick="return confirm('Deseja realmente excluir?');">Excluir</button>
  </form>
</td>

      </tr>
    {% endfor %}
  </tbody>
  <a href="{{ url_for('novo_aluno') }}" class="btn btn-primary mb-3">Novo Aluno</a>
</table>
{% endblock %}
